html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.navbar-static {
    height: 80px;
}

/*Navigation bar*/
.icon-bar {
    background-color: #fff;
    margin-top: 18px;
    border-width: 2px solid #fff;
    margin-right: 1.2em;
}

.active {
    color: #999;
}

.navbar-brand h1 {
    margin-top: 9px;
}


.kl-nav {
    margin-top: -18px;
}

a:focus, a:hover {
    color: #D14233;
    text-decoration: underline;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.nav > li > a {
    color: #000;
    font-size: 15px;
    font-style: normal;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    
}

.header-nav {
    color: #000;
}

/*background picture*/
.view {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.big-letter{
    height: 100%;
    width: 100%;
    background-color: #000000c4;
}

.container-flex {
    text-align: center;
}

.move-text {
    margin-top: 17em;
}

.text h4, h1, h4 {
    color: #fff;
}

.discover-letter p {
    color: #fff;
}

/*button css*/
.btn-default {
    width: 150px;
    height: 45px;
    background-color: transparent;
    margin-top: 2em;
}

.discover-letter .btn-default:hover {
    background-color: transparent;
}


/*About My Story Css*/
.background {
    margin-top: -38px;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-top {
    text-align: center;
}

.txt {
    margin-top: -32px;
}


.session-story {
    margin-top: 8em;
}

#about {
    color: #999;
    font-size: 18px;
    letter-spacing: 5px;
}

.about-session h1 {
    letter-spacing: 5px;
    color: #000;
    font-size: 2.7em;
}

.about-paragraph h5 {
    font-size: 1.2em;
    color: #999;
    line-height: 22px;
}

.about-bottons .btn-default-lg {
    border-radius: 0px;
    height: 45px;
    width: 170px;
    background-color: transparent;
    border-color: #999;
    margin-top: 1em;
}

.about-bottons p {
    font-size: 16px;
    color: #999;
}

.about-image .card-image img {
    max-width: 38em;
    max-height: 500px;
}

.card-image img {
   width: 400px;
   height: 400px;
}

.big-letters {
    height: 100%;
    width: 100%;
    background-color: #000000b3;
}


/* Hobbies Css */
.hobby-text {
    text-align: center;
}

.hobby-text h1 {
    color: #000;
}

.hobby-image img {
    height: 280px;
}

.hobby-paragraph h4 {
    color: #000;
    padding-top: 22px;
    line-height: 28px;
}

.padding-top {
    margin-top: 100px;
}

.container-section {
    margin-top: 50px;
}


/* Resources Css */
.container-resources {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.resources-page {
    margin-top: 50px;
}

.resources-head h1 {
    color: #000;
    font-size: 36px;
}

.order-list {
    margin-top: 38px;
}

.order-list > li {
    list-style: none;
}

.order-list > li > a {
    font-size: 18px;
    color: #000;
}


/* Contact Form Css */
.contact-section {
    padding: 100px 0px 90px;
    position: relative;
  }
  
  .contact-section .contact-list {
    position: relative;
  }
  
  .contact-list li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
  .contact-section .contact-list .item:nth-child(1) {
    padding: 30px 0px 20px 72px;
  }
  
  .contact-section .contact-list .item{
    padding: 30px 0px 20px 72px;
  }
  
  .contact-section .contact-list .item {
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 150px;
    border: 1px solid #e5e5e5;
  }
  
  .contact-section .contact-list .item:nth-child(1) i {
    font-size: 34px;
  }
  
  .contact-section .contact-list .item i {
    font-size: 34px;
  }
  
  .contact-section .contact-list .item i {
    position: absolute;
    top: 38px;
    left: 30px;
    color: #53d572;
  }
  
  .contact-section .contact-list .item h5 {
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    font-weight: 400;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Roboto Salo', sans-serif;
  }
  
  .contact-section .contact-list .item p {
    font-size: 14px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
  
  .contact-section .contact-area {
    margin-left: 22px;
  }
  
  .contact-section .contact-area .section-title {
    margin-top: -12px;
    padding-bottom: 44px;
  }
  
  .contact-section .section-title h3 {
    font-size: 36px;
    line-height: 48px;
    color: #222222;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto Salo', sans-serif;
  }
  
  .contact-section .section-title p {
    font-size: 17px;
    line-height: 30px;
    color: #848484;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
  
  .default-form-area {
    padding: 0px;
    margin-top: -54px;
  }
  
  .default-form {
    position: relative;
  }
  
  .contact-section .contact-area-left {
    margin-right: -16px;
  }
  
  .default-form .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .contact-section .default-form input[type="text"], .contact-section .default-form input[type="email"], .contact-section .default-form input[type="password"], .contact-section .default-form input[type="number"], .contact-section .default-form select {
    height: 50px;
    padding: 7px 14px;
  }
  
  .default-form .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .default-form input[type="text"], .default-form input[type="email"], .default-form input[type="password"], .default-form input[type="number"], .default-form select, .default-form textarea {
    display: block;
    width: 100%;
    line-height: 26px;
    height: 45px;
    font-size: 14px;
    box-shadow: none;
    color: #848484;
    text-transform: capitalize;
    background: #ffffff;
    padding: 7px 19px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }
  
  .contact-section .form-group.top-padd {
    padding-top: 32px;
  }
  
  .default-form .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .btn-style-one {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    background: #fff;
    padding: 10px 30px;
    border: 1px solid #000;
    text-transform: uppercase;
    transition: all 500ms ease;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    border-radius: 80px;
  }
  
  
  
  .contact-section .contact-area-right {
    margin-left: 16px;
  }
  
  .default-form .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  
  .contact-section .default-form textarea {
    resize: none;
    height: 210px;
  }
  
  .map-section iframe {
    margin-bottom: -75px;
  }


















/*footer css*/
.container-footer {
    margin-top: 11em;
    background-color: #441505;
}


.foot-txt ul > li {
    text-align: center;
    padding: 10px 10px;
    margin-top: 15px;
    font-size: 15px;
    list-style: none;
    color: #fff;
}



